<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tournaments List</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <!-- TODO: Date rendering on frontend -->
  <h1>Tournaments for Session <%= date.toLocaleDateString() %></h1>
  <ul>
    <% tournaments.forEach(tournament => { %>
      <li>Name: <%= tournament.t_name %>, Position: <%= tournament.ht_position %>, Winnings: <%= tournament.ht_winnings %>, BuyIn: <%= tournament.t_buyin %></li>
    <% }); %>
  </ul>
</body>

</html>